.content-table{
            margin-bottom: 20px;
            width: 100%;
            max-width: 100%;
            background-color: rgba(0, 0, 0, 0);
            border-collapse: collapse;
            border-spacing: 0;
}

table, td, th{
        border:1px solid black;
        background-color: white;
}

body{
        font-family: 'Times New Roman', Times, serif;
        background-color: bisque;
}

h2{
        font-size: larger;
}

footer{
        font-size: x-small;
}

img{
    width: 500px;
    height: auto;
}

hr{
        color: black;
}