.content-table{
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-collapse: collapse;
    border-spacing: 0;
}

table, td, th{
    border:1px solid black;
    background-color: white;
    padding: auto;
    margin: auto;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAkFBMVEX////sHCTrAADsFyDrABDsEx3rAAT5xMbrAArtNDrvUljrAA3sDhnrCBX/+/vvT1T72dr4urz+8vL2qq384eLtKzLuPUP3s7X84+T97e7wYWX6z9D+9/f96Onxb3L2pqjziIvzgoX1mJvsIirydnnwW1/uRUrtOD7zhon0k5bvSU75ycvye371naDxaGz0jpGQMYBjAAAP+klEQVR4nO1c65qiuhKFhGDQBBFERUBtEe32+v5vd5IAyiXYYNszs8+X9WemBUlWqlK3FGqagoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgsLfgr04zT3Pm08c929P5TcQeMvEBJgDAHS8hX97Qm9GuASYQP0OREGyjv72rN4Hd4WJXgc0/cnfnti7cNJpg5/gCHZ/e2rvwQVAKUGG0f7/QVMvoI0fA93/4dlM3//I+TOCTIqr7DZ78f6hZVhe3z2QUyOIKCUVpQXz7MZk80ec5A2Q83s5HlBFKVH6ubn6uMQRJhmzJUi2f4DjCejUXM7fN5JXESE4B/xD26Ml3qOtuPNiwBHZDey3Dd0CbtaJCfzVdj5wpnHgulFkc7z2ONsvayS++784eXwOifhoyteCAjDbXeanNwzdhg+aj2pgExuU6Eni+74lwWy43H15p8XTCQzKIgTrx4WwdAEMxEf7TK6QiqEJah96P1yet/MweIn7FNdsHWwFImwuACTLi9P6uFUplEGz8pXr4wr9EJ9M6ka3fWREmAQAtlbeC0ZjJw8/2sHEDfSNnGRFSXElRgsfS4lyn7hHksc/HxoDa9uXZExaA5AnQ1FzLIsxF3y5iuehoHwpKu1ElFm203PP2TL0yLj2TFPWr4zDZgkOTY4nk12ZZVTgoXrt+JAYyMWwMl4amoBhP45pXz3NAcGsPtDE1KGV+3xUi8+Wj40Ich23/b56eue47KOrrvXiOEyOm6p5m2OdnnNpkZQxbmFYrIzzyhYRoHStdccCvUpRx7NKZMsYMlcw4bqqmxPNPfIPo5O4Ni5p6V32g9e2iHhI2iNOmZKXKSJQltPAhHqUW1TqanPERTy5CJ4lM2vG929M2jOt70BIu9dqUvSbKXlXgMvjOSEmPHX4YhYEMfmtxIY7i2zCeXgLmJSSxAF9mSI0etQMglnd8/eg+HV/TEyESGOme5Sl8z7ml/Y+v3R72E00LA8dwhctHbd18+4UtY8f7IiHFGfA1QKesujGVrMBHDFpJTxKi0qOwdhWRo7SH6xun8qP94Nx7ku5YVH1me2y1MCeFjCeG8aQsPAtGD2UEdT3z+b1ofGpB8Xba/5X53FGMWcnYW6BuQn7ylgvmFqYIXMewCtbTZg0hr6+bAYgjBtPa8fLDNk4he1gu+8KeGR9yRiyfPcCdOyUYqfRpTHy9PUtQg6Np7Vj9bpBpXn1hW/CD4p50dDmWspmMLOvGFnBvUIFq/FqBv9lg6rjW3eG65HkASxxEUDo6STynI9jbuqjowiqhFLQ1F4BvhW1raBofHRcXEjueDo26B6kTiQbHqYFxgcEJJXs4j6f6SnL0nNiRLiQoaBojJmhpseIl+Egm7dEhNpGeAzBAyJKjZFBqbVb5Vju9SdDV/PQpxiYza8bpeuR4y1pm/MaMUrODFr762XJIyRsTbR4KLSCzqIto8iCrMEIguYu1LIYgRgznZjUH+5ul/XlttqUh556qdE2tOm9iyHH4hO0LCZmQrKXABEjr06A4SL3ssQKPEB9JrzQkBuGrUHANTyOdpNHlaTuU6a7lggP6u9kyAKWsdx7GSK0WZYWmoBN7uoQmk5MAtmcQ3kN+gtcF9quFKE4Z2A17nIsuRhBVyF2Y8iMpeS+Itq0k/I6j2ZxljRBHM4BQq3u2WNXYq4EAy/LGJzTXKLOUSr1aJ13YleGLRSzCMqrGGTiD/KMHw8uAIJvIpALPX9zcjOWSrGrOe3MUEtle5GIbDCs6jCaXYttOVgR2AjYyjjl9Ud3epoMQnmsEiWyvUg7ntp1ZxjozXGMhE/PrRfQoF/8D098iHyZr9BCLv4bQGzrLdZDfWQyEOt8khRITzIrUMnH3sJQW9dvJeCTb6C53h4XQf+T6nQpedqF76Olyb3v0RwV7h1SYElKFdIY1uwWgPdgWK3eMxW8cqU6Har2HBJKi/IBoiwptirBT4Ed20aLzEzW6inQ1BsZYP1wS4B2C916MBQu+g4C+TycFJTnRzCZXW/bzVKoKb3cWP7kZ7l/nSB0uOwhMWijmgLBsq7XQ0nJpV7YewPDcjZADywKdXeVUICAdOJqzmV5SLK/06IAXDc2PCgwMDJAsvPWt+u+MYOkZiil4TPodKbRh6H2sGl0b/OQE5Qrg+A61dwtAsY9ZmaamNXgahm+CMcRsLZT58tiQiyfNBIMMErqifxCpqZPjfRrDHeFxERMvTlcV8vZPY8nbE6LsQFKzgsdgiyDIKvyY/iZFMLjUzTZYwp51E2zB0MDWzsvjN3Idp2qgKDEYZidyhm9GBa6Qnl3hZ0FImFewyaZCXTDW2nLIP3rJk4ry9bUTSAEeybeA9vDFKD047ZZIqYOGN1apSLzxoY0oP8Rw5OZEyyvb5wvLwb0gxmIiVUYfnFGluUl5MrvzL+1YgnDXJsemQ0mxq7gFKZPJ7yRxDVUlnX+jOE0S4zG3NUGpy2PtlhQfRaDj/Tb1OY2hBNEI9PQ/dl+luRKTFJ27TNbJgCuLrPLTCg4FTG5G4tzUO57Wk8mZKaGdIpqejGMORc0DJz1ajYCesCNTaxdmBOhRtaBsBIWIbnyzcRnHYW5SFmKeM6s+x5sNXfI7xO1HedjRrFh8WKdNji2htNzSVhT3d1vYRiI2VoYjEgWi12A7jIFQmYePG8yk+fPxrsiMjnnR+rjPRCqOmCReIj4rjI/eDMcEPVvFsvM2dPouG3oiWSeme6/laFbuok6nCD35SmwuPfiiSAz9GjEFBMinDJ95N8pjhAhNEQMkob5uQVNedn9EUQYY0NHrQxl8/wFhkGpwjsXnVBss0fkyvQxuLLhlhcnCBzPH2VB48rluw4buRkUaVRwykuM/DhHm5UtJFuKngzfr6XxfUL0mgWLeK45PM/3AEuC7hb2E4vAf8d8xGnufS2ROAjPGk7y6pvOC8qN8+B2htJ9+H5LMy0MGoSBFvFOKCYXXm9bgizStye3D+6Gr8ZR0N5nfUnuzsjKVtq9SGxeZGft7QxltvQXvMWpuBlv84MHETgFPpMRiXlNhW1EbvBDYGlRbFNqGv5+NeGHwXk6l/f4EUbFaU66naHMH9ZiwXcwLBaSzzY7G+T9BwE/iIQWLy0hHWRVJxMdExaE8+wBEeYpBiArZhQnGczJaOum4rUzTCXJxS9EbUWVmpfYrmJRDaatR/4pWgZHNmMzT+0MFrqyf+IjXxOImFBFaWyRBwCizU1y8NXOUHZg/QuRd1HHYJKL8wOJSBtmpet9Qh5HGQEoTPlK6HI8EMsd5f0R0LJ7MpQe44BOZYw+DItMmxfysmwY+hkFPavOF02WXJ2LyXK5F+o0R5nxzHL+PgwvkooibBZXf8qw2O1cSfciM4THz/I0iyqty3cmSc88romNUmoRffKuU96TIhg2MqJWhrJmsW6mtA/DqFBSc8DU0M/aoMouuzgGdY9gaLHHGEKi/D46/rxdJrw0weOZvNLpYcuscWxjGMqUtJuh6cPwq7DudKENhpJRcS7CKNBiBM19VmwRJRZEDcMEO0Z5muBMhMxdenO9qn1tDMcyQyM7k/wRw0UhLsii7TBqbiMeBuSwLUC+inTwIWbDZ9Yv2IcFw5nmniuVrBaGsoCm0PU3MtzfGfpi7st61v0IhKfWfn1neyk5dsS7YYrgzsPceYaz3Cq3M4ylx0Jmx66TzgxX94lmVTy3UTnB9yHjSg2grM0QbO4XPJxVPNcA8LNQaLAgXcYwlvb6QdixAawjQ/taaoYV6nFqfBG0vMhRMbe6eS28GLOlwi9qTjiN3SgKnPlKonmOvHeroyXtytA5lCxClrRs6x5KpENSjCu3GrO4YMgD97hSGW1WQL2RvP+ubT1fYuisKuYg061G8Qu2ViDstGJ2UX7e5om2zYgKo++uP9eDhnG054eWnpRu2W8HhnYQXsa1hoHRmheNGide7TElU9TKPKEpShxrUzcYQx9kMp1TQIbZVuaStF1nvvPrDvMxx87vNskYwnGO4943gFHXEnPAosyoR26nZR0ZJYCzxk8dAZ5qU4Pm4liwEB0cmHzdsXWwElp9XbNGsOsulDPUUQFZpVkfTQynaiGzdXl67OxUj+DwkFlC24nEewMskI/4i5iiFs4LcC4k0pEfY/ndX/iTMvwGM7bLm+dd7SeW9pE7+mPF3lArD914KWTNGxy9PPzhb2SG3zSjSY7r3soQsp0jiRRbrdsGCEe/qtmb1SSc8CNSUW8ZEuTm/QC88ejjKUXcXUdfY8jVSsIQt/R/sLw+c/Rf1c1ITGAK1eUO9kpYPptPhkXm7rOeLzqUD/ROho7sVBbJB45FyRdwRz83pPPmDFOCgyL+5EHTub2JmBx6vXb3GsNQmnSPZFWFKH850Tjy9qhmSqhnXRUzcHuc3rEVbH+3hsBuOUUBWefet8ATzZXMgEiE6O4LYYg2e0cmGjDXAt8rHYOyFNtuY0gP/QjKj4+/g3nLXmJsTLWxE93Dw0mINvtLczweQ/MXEINZ4Xl5TaCl+1S4mV54pYN2ZMWVV5pKV2oNINWomVsItznxfF0Gj3v5RpQ+/4WX+6P+SgpFQKLdZEKE1aStZjxF9a/RGkM+tMh11vvSvfwFMVn3BYH9f6Ch95uIupFk3rbFRPF2hQz25FBdPtqyMkniQzyqp/qzhrAlTSjfIlj23YUEfOaRiytpAhN34PQyCMPJpw9qUjDFDmpkXXwj1j7ga1FfCIiT/gK8tDXGtoFmbVDfiB8ZLGk3Gy/+5C9oSBg2ACZ1fwvNpFNbQgWnni8FIYzO5bhMWuFrR9HcJt2/VUBUWwhiWv1/BSZY1ZXoKTtqgrFX2wXSEl/rrPX82x/fM+T9mPeODsLyt12fl2Qy2F/8PPp7kOxVbnj8mDQ3ORci6Wqp7v2umXv6LuxcA0L50Nhfbl/5oaLpcj/sgnS5+th6g2mLhlwpWX11s1WP1/QFQ3Tcti4N8QPNTdPrbnOZh3Gn1rVfQ8Als+uym0s1RBFSY6c1HjaS3i7hF3Himeixw8baPL7Dw0SWhcRyM07A7u9KrY71JwuLvqUIyq2u3A3ww6tazAKZVyTYSP+5XwfjPs7dP3VxqBaPs/iaV8drvx8x06F1Xf/CjwO9B8snry6PrFrWyDK/EedcORIku3/89+vWqEVTibFp7KsNoLyHrxoxEHIOxdsp/+qvZgU70KxQQPqIw8vYAVF43Fb1lDK3e01nfV4P/bOIbwkoxaKQRaf+pqWZcp31OG/qcR8B1r/kKhqwTx8ziE2MsWkayfEWttv94Eso47p6XmDcT1X/YQTOYO7NJ+Gi23aapsDIWh4QBXTz72roD7DYpgnLtZLhpn90/Z+BHUXRv6+dCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCv89/A8/kwGFdQMjJQAAAABJRU5ErkJggg==");
    background-size: 50% auto;
    background-position: center, top;
    background-repeat: no-repeat;
    padding: auto;
    margin: 1%;
    color:blueviolet;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    background-color: black;
    width: fit-content;
    height: cover;
    margin: 1%;
    color:chartreuse;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    background-color: black;
    width: fit-content;
    height: cover;
    margin: 1%;
    color:gold;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: black;
    width: fit-content;
    height: cover;
    margin: 1%;
    color:aquamarine;
}

footer{
        font-size: x-small;
}

